.spinner-con {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ldio-hrfs172fdpp {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-hrfs172fdpp div {
  box-sizing: border-box !important;
}
.ldio-hrfs172fdpp > div {
  position: absolute;
  width: 76px;
  height: 76px;
  top: 12px;
  left: 12px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #1d3f72 transparent #1d3f72 transparent;
  animation: ldio-hrfs172fdpp 0.8928571428571428s linear infinite;
}
.ldio-hrfs172fdpp > div:nth-child(2) {
  border-color: transparent;
}
.ldio-hrfs172fdpp > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-hrfs172fdpp > div:nth-child(2) div:before,
.ldio-hrfs172fdpp > div:nth-child(2) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  top: -6px;
  left: 29px;
  background: #1d3f72;
  border-radius: 50%;
  box-shadow: 0 70px 0 0 #1d3f72;
}
.ldio-hrfs172fdpp > div:nth-child(2) div:after {
  left: -6px;
  top: 29px;
  box-shadow: 70px 0 0 0 #1d3f72;
}
.loadingio-spinner-dual-ring-nux9xlkh1gs {
  width: 74px;
  height: 74px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-hrfs172fdpp {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.74);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
